@import url('https://fonts.googleapis.com/css2? family=Cookie&family=Dancing+Script:wght@400;600&family=Open+Sans:ital@1&family=Satisfy&display=swap');

h1{color: beige;
    font-family: 'Dancing Script', cursiva;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 70%;
    padding: 5%;
    font-style: italic;
}

h4{
    color: azure;
    text-decoration: underline;
    
}

*{margin:0;padding:0;}
a {color:inherit;text-decoration:none;}
body,html{
  overflow:hidden;
  height:100%;
  font-size:16px;
  font-family: 'Montserrat', sans-serif;
  background:#000;
  color:#fff;
}
#wrap{
  position:absolute;
  left:0; top:0;
  width:150%;
  height:100%;
  display:flex;
  align-items:stretch;
  margin:0 25%;
}
.hb {
  position:relative;
  width:25%;
  z-index:1;
  display:flex;
  align-items:center;
  z-index:2;
  transform:scale(.97);
}
.c{
  position:relative;
  display:block;
  max-width:90%;
}
.c img {
  position:relative;
  display:block;
  width:100%;
  height:auto;
  z-index:2;
}
.txt {
  position:absolute;
  top:100%; left:10%;
  width:80%;
  opacity:0;
  padding:1em 0 0 1em;
  border-left:1px solid;
  z-index:1;
  transform:scaleY(1) translateY(-50px);
  transition:transform .2s, opacity .5s;
}
h1 {
  font-size:1.2em;
  font-weight:700;
  text-transform:uppercase;
}
.hb:hover .txt {
  opacity:1;
  transform:scaleY(1) translateY(0);
}
.fullBg {
  position:fixed;top:0;left:0;width:100%;height:100%;
  opacity:0;
  transition:transform .5s, opacity .5s;
  transform:scale(1);
  z-index:1;
}
.fullBg img {
  width:100%;height:100%;
  object-fit:cover;object-position:center;
  opacity:.5;
}
.hb:hover + .fullBg {opacity:1;transform:scale(1.02);}
.credits {
  position:fixed;
  bottom:0;right:0;
  padding:1.5em;
  font-size:.8em;
  text-align:right;
  font-style:italic;
  opacity:.8;
  transition:opacity .2;
  z-index:3;
}
.credits:hover {
  text-decoration:underline;
  opacity:1;
}

* {
  margin:0px;
  padding:0px;
}

/*Agreado para el modal y el boton*/

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: .5s ease;
	z-index: -1;
}

.overlay.active {
	opacity: 1;
	z-index: 2;
}

.modal {
	max-height: calc(100% - 100px);
	position: fixed;
	top: 50%;
	left: 50%;
	max-width: 500px;
	transform: translate(-50%, -50%);
	color: #4a5666;
	background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	z-index: 3;
	visibility: hidden;
	opacity: 0;
	transition: .5s ease;
}

.modal h2 {
	margin: 0;
	font-weight: 400;
	padding: 1rem;
	border-bottom: 1px solid #DDE0E7;
}

.modal p {
	padding: 1rem;
}

.modal.active {
	visibility: visible;
	opacity: 1;
}

button {
	display: inline-block;
	background: rgba(10, 20, 30, .3);
	border: 1px solid transparent;
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	padding: 1rem 2rem;
	margin: .25rem 0;
	vertical-align: middle;
	line-height: 1;
	overflow: visible;
	cursor: pointer;
}

button:hover {
	border: 1px solid rgba(255, 255, 255, .8);
	color: white;
	background: rgba(255, 255, 255, .1);
}

button.close {
	margin: 10px;
	background: #FC6468;
}

button.close:hover {
	border: 1px solid #FC6468;
	color: #FC6468;
	background: transparent;
}

button.ingresar {
	margin: 10px;
	background: #4a5666;
}

button.ingresar:hover {
	border: 1px solid #4a5666;
	color: #4a5666;
	background: transparent;
}

button.registrar {
	margin: 10px;
	background: blueviolet;
}

button.registrar:hover {
	border: 1px solid blueviolet;
	color: blueviolet;
	background: transparent;
}